:host {
  display: block;
  width: 100%;
}

.card {
  height: 100%;
  background: transparent;
  border-radius: var(--radius-large);
  transition: background 0.1s ease var(--card-raise-delay, 0s);
  padding: var(--spacer-600);
  display: flex;
  flex-direction: column;
  gap: var(--spacer-900);
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

:host(.card-raised) .card {
  background: color-mix(in srgb, var(--color-bg-raise) 75%, transparent);
}

.tile {
  display: flex;
  flex-direction: row;
  gap: var(--spacer-200);
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--spacer-300);
  width: 100%;
}

.title {
  margin: 0;
  font: var(--type-subtitle-m);
  color: var(--color-text-primary);
}

.body {
  margin: 0;
  font: var(--type-body-m);
  color: var(--color-text-secondary);
}
