*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background: var(--color-bg-app);
  color: var(--color-text-primary);
}

.live-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header-div {
  height: 1000px;
  padding-top: var(--space-block-800);
}

.header-div h1 {
  font: var(--type-h1);
}

.case-study-showcase {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.case-study-all {
  display: grid;
  justify-items: center;
  width: 100%;
  padding-inline: var(--space-500);
}

.case-study-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  align-self: flex-start;
  background-color: var(--color-bg-page);
  border-bottom: 1px solid var(--color-bg-raise);
  width: 100%;
  height: 64px;


}

@media (min-width: 1024px) {
  .case-study-showcase {
    flex-direction: row;
    align-items: flex-start;
    height: fit-content;
    border-top: 1px solid var(--color-bg-raise);
  }

  .case-study-nav {
    height: 100vw;
    border-right: 1px solid var(--color-bg-raise);
  }

  .case-study-all {
    padding-inline: var(--space-block-900);
  }
}
