:root {
  /* Raw color tokens */
  --r-night: #0a0a0a;
  --r-night-raise: #1A1A1B;
  --r-night-sink: #0D0B0B;
  --r-night-shine: #FBE3BD;
  --r-night-shade: #737371;
  --r-stellar: #FFFBF0;
  --r-stellar-fade-partial: #61606A;
  --r-stellar-fade: rgba(217, 216, 216, 0.2);
  --r-black: #000;
  --r-white: #D7D6DB;
  --r-white-off: #A4A3AD;

  /* Semantic color tokens */
  --color-bg-main: var(--r-night);
  --color-bg-raise: var(--r-night-raise);
  --color-bg-sink: var(--r-night-sink);
  --color-bg-shine: var(--r-night-shine);
  --color-bg-shade: var(--r-night-shade);
  --color-surface: var(--r-black);
  --color-accent: var(--r-stellar);
  --color-accent-soft: var(--r-stellar-fade);
  --color-accent-medium: var(--r-stellar-fade-partial);
  --color-text-primary: var(--r-white);
  --color-text-secondary: var(--r-white-off);
  --color-text-inverse: var(--r-black);

  /* Border-Radius tokens */
  --radius-small: 4px;
  --radius-base: 8px;
  --radius-large: 12px;

  /* Spacing tokens */
  --spacer-100: 2px;
  --spacer-200: 4px;
  --spacer-300: 8px;
  --spacer-400: 12px;
  --spacer-500: 16px;
  --spacer-600: 20px;
  --spacer-700: 24px;
  --spacer-800: 32px;
  --spacer-900: 36px;
  --spacer-section-100: 20px;
  --spacer-section-200: 24px;
  --spacer-section-300: 28px;
  --spacer-section-400: 32px;
  --spacer-section-500: 40px;
  --spacer-section-600: 48px;
  --spacer-section-700: 64px;
  --spacer-section-800: 80px;
  --spacer-section-900: 120px;

  /* Margin tokens */
  --margin-header-mobile: 16px;
  --margin-header-desktop: 60px;
  --margin-mobile-500: 24px;
  --margin-bottom-500: 400px;

  /* Breakpoints */
  --breakpoint-desktop: 1024px;

}
