:root {
  /* Color tokens */
  --color-saffron: #ecbc2a;
  --color-saffron-fade: #ecbc2a40;
  --color-saffron-fade-partial: #ecbc2a80;

  --color-white: #fff;
  --color-white-off: #E0DBDB;

  --color-black: #000;

  /* Background color tokens */
  --color-bg-forest: #041514;
  --color-bg-forest-raise: #091D1C;

  /* Border-Radius tokens */
  --radius-small: 4px;
  --radius-base: 8px;
  --radius-large: 12px;

  /* Spacing tokens */
  --space-200: 4px;
  --space-300: 8px;
  --space-400: 12px;
  --space-500: 16px;
  --space-600: 20px;
  --space-700: 24px;
  --space-block-200: 20px;
  --space-block-300: 24px;
  --space-block-400: 32px;
  --space-block-500: 40px;
  --space-block-600: 48px;
  --space-block-700: 64px;
  --space-block-800: 80px;
  --space-block-900: 120px;

    /* Margin tokens */
  --margin-mobile-500: 24px;
  --margin-bottom-500: 400px;

  /* Breakpoints */
  --breakpoint-desktop: 1024px;

}
