:root {
  /* Color tokens */
  --color-saffron: #ecbc2a;
  --color-saffron-fade: rgba(236, 188, 42, 0.2);
  --color-saffron-fade-partial: rgba(236, 188, 42, 0.4);

  --color-white: #fff;
  --color-white-off: #c0c0c0;

  --color-black: #000;

  /* Background color tokens */
  --color-bg-forest: #021615;
  --color-bg-forest-raise: #091d1c;

  /* Border-Radius tokens */
  --radius-small: 4px;
  --radius-base: 8px;
  --radius-large: 12px;

  /* Spacing tokens */
  --space-100: 2px;
  --space-200: 4px;
  --space-300: 8px;
  --space-400: 12px;
  --space-500: 16px;
  --space-600: 20px;
  --space-700: 24px;
  --space-800: 32px;
  --space-900: 36px;
  --space-block-100: 20px;
  --space-block-200: 24px;
  --space-block-300: 28px;
  --space-block-400: 32px;
  --space-block-500: 40px;
  --space-block-600: 48px;
  --space-block-700: 64px;
  --space-block-800: 80px;
  --space-block-900: 120px;

    /* Margin tokens */
  --margin-mobile-500: 24px;
  --margin-bottom-500: 400px;

  /* Breakpoints */
  --breakpoint-desktop: 1024px;

}
