:root {
  --font-display: "DM Serif Display", serif;
  --font-flourish: "Switzer", sans-serif;
  --font-body: "Switzer", sans-serif;

  /* Display tracking */
  --tracking-display: 0.03em;

  /* Typography tokens */
  --type-H1-intro: normal 900 56px / normal var(--font-display);
  --type-subtitle-xl: normal 300 28px/38px var(--font-flourish);

  --type-H1: normal 600 45px / normal var(--font-display);
  --type-H2: normal 600 32px / normal var(--font-display);
  --type-H3-nav: normal 500 17px / 1.2 var(--font-flourish);
  --type-H4: normal 500 15px / 1.2 var(--font-flourish);
  --type-subtitle-nav: normal 200 14px/19px var(--font-flourish);

  --type-subtitle-l: normal 300 24px/28px var(--font-flourish);
  --type-subtitle-m: normal 300 18px/24px var(--font-flourish);
  --type-subtitle-s: normal 300 15px/21px var(--font-flourish);
  --type-body-l: normal 350 19px/27px var(--font-body);
  --type-body-m: normal 350 16px/22px var(--font-body);
  --type-action: normal 600 16px / normal var(--font-flourish);
  --type-action-s: normal 500 13px / normal var(--font-flourish);
  --type-caption-m: normal 500 15px/20px var(--font-flourish);
}
