@font-face {
  font-family: "Raleway";
  src: local("Raleway"), local("Raleway Regular");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-flourish: "Raleway", "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-display: "Crimson Pro", "Crimson Text", serif;

  /* Typography tokens */
  --type-h1: normal 700 56px/56px var(--font-display);
  --type-h2: normal 700 40px/40px var(--font-display);
  --type-subtitle-l: normal 500 24px/30px var(--font-flourish);
  --type-subtitle-m: normal 300 18px/25px var(--font-flourish);
  --type-body-l: normal 400 18px/18px var(--font-body);
  --type-body-m: normal 400 16px/16px var(--font-body);
  --type-list-m: normal 300 15px/21px var(--font-flourish);
  --type-action: normal 600 14px/14px var(--font-flourish);
  --type-caption-l: normal 300 15px/15px var(--font-flourish);
  --type-caption-m: normal 300 14px/14px var(--font-flourish);
}
