@font-face {
  font-family: "Raleway";
  src: local("Raleway"), local("Raleway Regular");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --font-display: "Onest", sans-serif;
  --font-flourish: "Roboto", sans-serif;
  --font-body: "Roboto", sans-serif;

  /* Typography tokens */
  --type-H1-intro: normal 900 40px / normal var(--font-display);
  --type-role-intro: normal 300 32px / normal var(--font-flourish);
  --type-subtitle-intro: normal 300 20px/24px var(--font-flourish);

  --type-H1: normal 500 clamp(32px, 5vw, 48px) / 1.2 var(--font-display);
  --type-H2: normal 500 clamp(30px, 5vw, 40px) / 1.2 var(--font-display);
  --type-H3-nav: normal 500 clamp(16px, 3vw, 20px) / 1.2 var(--font-display);
  --type-subtitle-nav: normal 300 15px/21px var(--font-flourish);
  --type-subtitle-caseStudy: normal 300 28px/38px var(--font-flourish);

  --type-subtitle-l: normal 500 24px/30px var(--font-flourish);
  --type-subtitle-m: normal 500 18px/24px var(--font-flourish);
  --type-subtitle-s: normal 500 15px/21px var(--font-flourish);
  --type-body-l: normal 300 20px/30px var(--font-body);
  --type-body-m: normal 300 16px/22px var(--font-body);
  --type-action: normal 600 16px / normal var(--font-flourish);
  --type-caption-m: normal 400 15px/20px var(--font-flourish);

   /* unused tokens */
  --type-tag-towers: normal 600 24px / normal var(--font-flourish);
  --type-bullets-towers: normal 400 16px / 18px var(--font-flourish);
}
